.window1 {
    width: 100%;
    margin: 0 10px 10px 10px;
}

.window2 {
    width: calc(50% - 20px);
    margin: 0 10px 10px 10px;
}

.window3 {
    width: calc(33.3% - 20px);
    margin: 0 10px 10px 10px;
}

.panel_p {
    color: #999999;
    margin: 10px;
}

.panel_div0 {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 0;
    background-color: white;
    padding: 10px;
}

.panel_div1 {
    box-sizing: border-box;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px 0;
    background-color: white;
    padding: 10px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

.button {
    user-select: none;
    color: white;
    padding: 2px 10px;
    background-color: #3580F3;
    border-radius: 10px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    width: 30px;
    min-width: 30px;
}

.button:active {
    background-color: #255aab;
}

.article p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: none;
    margin: 0;
}

.p1 {
    color: #999999;
}

@media (max-width: 1000px) {
    .window1 {
        width: 100%;
    }
    .window2 {
        width: 100%;
    }
    .window3 {
        width: 100%;
    }
}
